.carousel-item {
	height: 100vh;
}

/* **************** SLIDE 1 **************** */
.header__slide1 {
	background-attachment: fixed;
	background-image: url(../img/hero__img1.jpeg);
	background-position: center;
	background-size: cover;
	display: flex;
	height: 100%;
	width:100%;
}

.header__slide1__text {
	background-attachment: fixed;
	background-image: url(../img/hero__img1a.jpeg);
	background-position: center;
	background-size: 108%;
	border-bottom: 1.5px solid #fff;
	border-top: 1.5px solid #fff;
	font-family: 'Mali';
	font-size: 4rem;
	font-weight: 800;
	margin: auto;
	padding: 1% 0 0 0 ;
	text-shadow: 5px 6px 10px rgb(0, 0, 0);
	width: 65%;
}

.header__slide1__text h1 {
	animation: growUp 40s infinite linear;
	color: #fff; 
	font-size: 5rem;
	letter-spacing: 2vw;
	padding: 2rem;
	text-align: center;
	text-transform: uppercase;
}

@keyframes growUp {
	0% {
		letter-spacing: 2vw;
	}
	49% {
		letter-spacing: 3vw
	}
	99% {
		letter-spacing: 2vw;
	}
}


/* **************** SLIDE 2 **************** */

.header__slide2 {
	background-attachment: fixed;
	background-image: url(../img/hero__img2.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	height: 100%;
	width:100%;
}

.header__slide2__text {
	background-attachment: fixed;
	background-image: url(../img/hero__img2a.jpg);
	background-position: center;
	background-size: cover;
	border-bottom: 1.5px solid #fff;
	border-top: 1.5px solid #fff;
	color: #fff;
	font-family: 'Mali';
	margin: auto;
	padding: 5% 5%;
	text-align: center;
	text-shadow: 3px 3px 5px rgb(0, 0, 0);
	width: 50%;
}

.header__slide2__text h1 {
	color: #fff;
	font-size: 3rem;
	font-weight: 400;	
	text-transform: uppercase;
}

.header__slide2__text h2 {
	font-size: 2.2rem;
	font-weight: 400;	
}

.header__slide2__text--red {
	color: #cc3333;
}


/* **************** SLIDE 3 **************** */

.header__slide3 {
	background-attachment: fixed;
	background-image: url(../img/hero__img3.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	height: 100%;
	width:100%;
}

.header__slide3__text {

	background-attachment: fixed;
	background-image: url(../img/hero__img3a.jpg);
	background-position: center;
	background-size: cover;
	border-bottom: 1.5px solid #fff;
	border-top: 1.5px solid #fff;
	color: #fff;
	font-family: 'Mali';
	margin: auto;
	padding: 2% 5%;
	text-align: center;
	text-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.header__slide3__text h1{
	color: #fff;
	font-size: 3rem;
	font-weight: 400;	
	padding: 2rem 1rem 1rem 1rem;
	text-transform: uppercase;
}

.header__slide3__text h2{
	font-size: 2rem;
	font-weight: 400;	
}

.header__slide3__text h3 {
	animation: flash 2s infinite linear;
	background: #cc3333;
	border-radius: 10px;
	color: #fff;
	font-size: 1rem;
	margin: 2rem auto auto auto;
	padding: 1rem 2rem;
	text-shadow: none;
	width: 40%;
}

.header__slide3__text h3:hover {
	background: #ffe0ae;
	color: #cc3333;
}

@keyframes flash {
	0% {
		opacity: 1;
	}
	88% {
		opacity: 1;
	}
	90% {
		opacity: 0.6;
	}
	92% {
		opacity: 1;
	}
	95% {
		opacity: 0.6;
	}
	97% {
		opacity: 1;
	}
	99% {
		opacity: 0.6;
	}
}


/* ************* MEDIA QUERIES ************* */

/* 					SLIDE 1 					*/

@media (max-width: 1024px) {
	.header__slide1__text {
		background-size: cover;
		width: 100%;
	}
	.header__slide1__text h1 {
		font-size: 8vw;
	} 
}

@media (max-width: 400px) and (orientation: portrait){
	.header__slide1__text {
		padding: 7%;
	}
	.header__slide1__text h1 {
		font-size: 2rem;
	}
}

/* 					SLIDE 2 					*/

@media (max-width: 730px) and (orientation: portrait){
	.header__slide2__text {
		margin-left: 5%;
		margin-right: 5%;
		padding: 1.5rem;
		width: auto;
	}
	.header__slide2__text h1 {
		font-size: 2rem;
	}
	.header__slide2__text h2 {
		font-size: 1.5rem;
	}
}

@media (max-width: 740px) and (max-height: 420px){
	.header__slide2__text {
		margin-top: 15%;
	}
	.header__slide2__text h2 {
		font-size: 1.7rem;
	}
}

/* 					SLIDE 3 					*/

@media (max-width: 730px) and (orientation: portrait){
	.header__slide3__text {
		border-radius: 0px;
		margin-left: 5%;
		margin-right: 5%;
	}

	.header__slide3__text h1 {
		font-size: 2rem;
	}
	.header__slide3__text h2 {
		font-size: 1.5rem;
	}
	.header__slide3__text h3 {
		margin: 2rem auto 1rem auto;
		width: 60%;
	}
}

@media (max-width: 740px) and (max-height: 420px){
	.header__slide3__text {
		margin-top: 15%;
	}
	.header__slide3__text h1 {
		font-size: 2.5rem;
	}
	.header__slide3__text h2 {
		font-size: 1.7rem;
	}
}


/* **************** ******* **************** */

a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}